<div class="center jumbotron">
<!doctype html>
<html>
<head>
<script src="https://kit.fontawesome.com/f85f1b6612.js"></script>
</head>
  <h1>Welcome</h1>
  <br>
  <h4>
    To view your videos, statistics and more, sign up now!
  </h4>
  <br>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
</html>