<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="splash">
    <div class="bigboi">
      <div class="center jumbotron">
        <h1>Welcome to Flow Charts!</h1>
        <br>
        <h4>
          On this portal, you will see the reach of your videos! 
          <br>
          <br>
          Enjoy the magic! 
        </h4>
        <br>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </body>
</html>