<!DOCTYPE html>
<html>
  <body class="splash container">
    <div class="center jumbotron">
      <h1>Welcome</h1>
      <br>
      <h4>
        Use data to help you make business decisions and succeed in today's competitive market.
        <br>
        <br>
        To begin viewing your videos, statistics and more, sign up now!
      </h4>
      <br>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </body>
</html>