<!DOCTYPE html>
<html>
    <head>
    yaeoiajsdlfjadlskfjadlksjf
    </head>
    <body>
        <%-# Responsive Grid Here -%>
        <div class="video-percent-div" >
            <%= react_component("ResponsiveGrid") %>
        </div>
    </body>
</html>