<% provide(:title, "Statistics") %>
<!DOCTYPE html>
<html>
<body>
    <h1> Total Video Statistics <h1>
    <h2>
        This page shows your total culmination of all your video statistics over time! (Whether 1 video or more!)
        <br>
        This culminates all Facebook and Wistia data. Other data can be integrated upon client request.
    <h2>

    <%-# Wistia Statistics -%>
    <h1> Wistia Statistics <h1>
    <div class="box green">
        Times Loaded:
        <%= @statistics["load_count"] %>
    </div>
    <div class="box blue">
        Number of Views:
        <%= @statistics["play_count"] %>
    </div>
    <div class="box orange">
        Total Hours Watched
        <%= @statistics["hours_watched"] %>
    </div>
    <div class="box purple">
        Top 3 Cities of Viewers:
        <% @topThree.each do |item| %>
            <%= item %>
        <% end %>
    </div>
</body>
</html>