<% provide(:title, "Statistics") %>
<!DOCTYPE html>
<html>
<body>
    <h1> Total Video Statistics <h1>
    <h2>
        This page shows your total culmination of all your video statistics over time! (Whether 1 video or more!)
        <br>
        This culminates all Facebook and Wistia data. Other data can be integrated upon client request.
    <h2>

    <%-# Wistia Statistics -%>
    <h1> Wistia Statistics <h1>
    <div class="box green">
        <p class="alignleft">Times Loaded: </p>
        <p class="alignright"><%= @statistics["load_count"] %></p>
    </div>
    <div class="box blue">
        <p class="alignleft">Number of Views: </p>
        <p class="alignright"><%= @statistics["play_count"] %></p>
    </div>
    <div class="box orange">
        <p class="alignleft">Total Hours Watched:</p>
        <p class="alignright"><%= '%.2f' % @statistics["hours_watched"] %></p>
    </div>
    <div class="box purple">
        <p>Top 3 Cities of Viewers:</p>
        <% @topThree.each do |item| %>
            <%= item %>
            <br>
        <% end %>
    </div>
</body>
</html>