<% provide(:title, "Your Videos") %>
<div class="col-md-4">
    <% @video_iframe_urls.each do |video_iframe_url| %>
      <iframe src="<%= video_iframe_url.to_s.html_safe %>"></iframe>
    <% end %>
</div>