<% provide(:title, "Your Videos") %>
<section>
  <h1>
    <%= @project_name %>
  <h1>
  <% @video_iframe_urls.each do |video_iframe_url| %>
    <iframe class="videos" src="<%= video_iframe_url.to_s.html_safe %>"></iframe>
  <% end %>
</section>