<% provide(:title, "Your Videos") %>
<div class="col-md-4">
    <%= @videos.each do |video| %>
      <% puts @videos.inspect %>
      <iframe src="<%= JSON.parse(video) %>" name="wistia_embed">
    <% end %>
</div>