<% provide(:title, "Your Videos") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= @videos.each do |video| %>
        <iframe src="<%= JSON.parse(video.to_s)["url"] %>">
      <% end %>
    </section>
  </aside>
</div>